POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=postgres

DB_USER=postgres
DB_NAME=db
DB_PASSWORD=postgres

SHAKEMAP_SERVER=127.0.0.1
SHAKEMAP_PORT=5432
SHAKEMAP_USER=postgres
SHAKEMAP_PASSWORD=postgres
SHAKEMAP_DB=postgres
DANGERLEVEL_DB=postgres

PGADMIN_DEFAULT_EMAIL=some@email.com
PGADMIN_DEFAULT_PASSWORD=password
PGADMIN_CONFIG_SERVER_MODE=False

ROOT_PATH=reiaws